form {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: flex-end;
}

form input {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #8893a7;
    padding: 10px 0px;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: #ebecf0;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
              3px 3px 5px rgba(0, 0, 0, 0.1);
}

form input:hover {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

form button {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #185af2;
    padding: 10px 10px;
    background-color: #ebecf0;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
              3px 3px 5px rgba(0, 0, 0, 0.1);
}

form button:hover {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}